Django==1.4.1
boto==2.5.2
dj-database-url==0.2.1
django-password-reset==0.2
django-redis-cache==0.9.5
django-secure==0.1.2
django-ses==0.4.1
django-storages==1.1.5
django-tagging==0.3.1
geopy==0.94.2
gevent==0.13.7
greenlet==0.4.0
gunicorn==0.14.6
mock==1.0b1
psycopg2==2.4.5
python-openid==2.2.5
pytz==2012d
raven==2.0.5
redis==2.6.2
simplejson==2.6.1
ModestMaps==1.4.1
Shapely==1.2.16
TileStache==1.42.0
