{% load url from future %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
{# Not all our third-party app views use RequestContext #}
{% get_static_prefix as STATIC_URL %}
<html lang="en">{% load thumbnail %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %} Django People</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}djangopeople/css/styles.css" type="text/css" media="all" charset="utf-8">
    <script type="text/javascript" src="{{ STATIC_URL }}djangopeople/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript">
        var STATIC_URL = '{{ STATIC_URL }}';
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}djangopeople/js/common.js"></script>
    {% block maps_api %}{% endblock %}
    {% block js %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
<body{% block bodymeta %}{% endblock %}>

    <div class="nav">
        <ul>
            <li{% block nav_li_class_home %}{% endblock %}><a href="{% url 'index' %}">home</a></li>
            <li{% block nav_li_class_about %}{% endblock %}><a href="{% url 'about' %}">about</a></li>
            <li{% block nav_li_class_search %}{% endblock %}><a href="{% url 'search' %}">search</a></li>
            {% if not user.is_authenticated %}
            <!-- not logged in -->
            <li{% block nav_li_class_login %}{% endblock %}><a href="{% url 'login' %}" class="login">log in</a></li>
            <li{% block nav_li_class_signup %}{% endblock %}><a href="{% url 'signup' %}">sign up as a django person</a></li>
            {% else %}
            <!-- logged in -->
            <li>You are logged in as <strong>{{ user }}</strong></li>
            {% if not user.get_profile.photo %}<li><a href="{% url 'upload_profile_photo' user.username %}">upload photo</a></li>
            {% endif %}
            <li{% block nav_li_class_profile %}{% endblock %}><a href="{% url 'user_profile' user.username %}">your profile</a></li>
            <li{% block nav_li_class_account %}{% endblock %}><a href="{% url 'edit_account' user.username %}">your account</a></li>
            <li><a href="{% url 'logout' %}">log out</a></li>
            {% endif %}

        </ul>
		{% if not user.is_authenticated %}
		<div id="hiddenLogin" style="display: none">
		    <form action="{% url 'login' %}" method="POST">{% csrf_token %}<p><label for="id_usernameH">Username</label><input type="text" name="username" id="id_usernameH"></p><p><label for="id_passwordH">Password</label><input type="password" name="password" id="id_passwordH"></p><p><input type="submit" value="Log in" class="submit"></p>
              <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'redirect_to_logged_in_user_profile' %}{% endif %}">
		        <p class="openid">Or <a href="{% url 'openid_begin' %}">log in with <strong>OpenID</strong></a></p>
		    </form>
		</div>
		{% endif %}
    </div>
    <div class="header content">
        {% block header %}<h1>Django People</h1>{% endblock %}
        {% block tagline %}<h2 class="tagline">Discover users of the <a href="http://www.djangoproject.com/">Django Web framework</a> near you</h2>{% endblock %}
        
    </div>
{% block map %}{% endblock %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% block extra %}{% endblock %}
</body>
</html>
