{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ country }} |{% endblock %}

{% block js %}{% load thumbnail %}
<script type="text/javascript">
var people = [
    // latitude, longitude, name, username, location description
    {% for person in country.djangoperson_set.all %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];

window.onload = function() {
    var swBound = new google.maps.LatLng({{ country.bbox_south }}, {{ country.bbox_west }});
    var neBound = new google.maps.LatLng({{ country.bbox_north }}, {{ country.bbox_east }});
    var boundBox = new google.maps.LatLngBounds(swBound, neBound);
    var myOptions = {
      zoom: 9,
      center: boundBox.getCenter(),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    };
    var gmap = new google.maps.Map(document.getElementById('gmap'), myOptions);
    gmap.fitBounds(boundBox);
    
    // Plot the people as markers
    $.each(people, function() {
       var lat = this[0];
       var lon = this[1];
       var name = this[2];
       var username = this[3];
       var location_description = this[4];
       var photo = this[5];
       var iso_code = this[6];
       var point = new google.maps.LatLng(lat, lon);
       boundBox.extend(point);
       // custom marker options removed for now
       var marker = new google.maps.Marker({
            map: gmap,
            position: point,
            icon: greenIconImage(),
            shadow: greenIconShadow()
           });

       var infoWindow = new google.maps.InfoWindow({
           content: makeWindow(
               name, username, location_description, photo, iso_code, 
               lat, lon
           )
        });

       // Hook up the marker click event
       google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(gmap, marker);
       });
    });
    // Re-plot, just in case someone was outside the original bounds (e.g. a 
    // US resident of Hawaii)
    gmap.fitBounds(boundBox);

};
</script>

{% endblock %}

{% block header %}{% load thumbnail %}
        {% if country.iso_code or country.flag %}<img src="{% if country.iso_code %}/static/img/flags/{{ country.iso_code|lower }}.gif{% else %}/static/{{ country.flag }}{% endif %}" alt="{{ country }}" class="main">{% endif %}
        <h1>{{ country }}</h1>
        <p class="meta">{% if country.country %}<a href="{% url 'country_detail' country.country.iso_code|lower %}" class="nobg"><img src="/static/img/flags/{{ country.country.iso_code|lower }}.gif" title="{{ country.country }}" alt="{{ country.country }}" class="flag"></a> {% endif %}{{ country.djangoperson_set.count }} Django {% ifequal country.djangoperson_set.count 1 %}person{% else %}people{% endifequal %}</p>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

    {% block content %}
    {% with country.countrysite_set.all as sites %}
    {% if sites %}
    <div class="highlight">
        <h2>Django community sites in {{ country }}</h2>
        <ul>
        {% for site in sites %}
            <li><a href="{{ site.url }}" class="ext">{{ site.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
        <ul class="detailsList split">
            {% load person_list_items %}{% person_list_items country.djangoperson_set.all %}
        </ul>
        {% if regions %}
        <h2>Regions</h2>
        <ul class="detailsList split">
            {% for region in regions %}
            <li>
                {% if region.flag %}<a href="{% url 'country_region' country.iso_code|lower region.code|lower %}" class="nobg"><img src="{% thumbnail region.flag 16x11 crop %}" alt="{{ region }}" title="{{ region }}"></a> {% endif %}<a href="{% url 'country_region' country.iso_code|lower region.code|lower %}"><strong>{{ region }}</strong></a> {{ region.num_people }} {% ifequal region.num_people 1 %}person{% else %}people{% endifequal %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock %}
