{% extends "base.html" %}
{% load url from future %}

{% block title %}Recover your account |{% endblock %}

{% block js %}
<style type="text/css">
p.message {
    color: red;
}
</style>
{% endblock %}

{% block header%}
<h1>Recover your account</h1>
{% endblock %}

{% block content %}
	<form method="post" action="{% url 'recover' %}">{% csrf_token %}
		<p class="help{% if message %} message{% endif %}">
		{% if message %}{{ message }}{% else %}{% if form.errors %}{{ form.username.errors.0 }}{% else %}
			Enter your username and we'll send an account recovery link to the e-mail address associated with your account.
			{% endif %}{% endif %}</p>
    <fieldset>{% for field in form %}
			<div class="fieldWrapper">
				{{ field.label_tag }}
				{{ field }}
			</div>{% endfor %}
    </fieldset>    
    <div class="buttonContainer"><input type="submit" value="Recover account"></div>
    </form>

{% endblock %}
