{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ tag }} |{% endblock %}

{% block js %}{% load thumbnail %}
<script type="text/javascript">
var people = [
    // latitude, longitude, name, username, location description
    {% for person in object_list %}
    [{{ person.latitude }}, {{ person.longitude }}, "{{ person|escapejs }}", "{{ person.user.username|escapejs }}", "{{ person.location_description|escapejs }}", "{% if person.photo %}{% thumbnail person.photo 40x40 crop %}{% else %}/static/img/person_small_blank.png{% endif %}", "{{ person.country.iso_code|lower }}"]{% if not forloop.last %},{% endif %}
    {% endfor %}
];

window.onload = function() {
    var gmap = new google.maps.Map(document.getElementById('gmap'));
    var bounds = new google.maps.LatLngBounds();
    var myOptions = {
          zoom: 5,
          maxZoom: 12,
          center: new google.maps.LatLng(0,0), 
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
    var gmap = new google.maps.Map(document.getElementById('gmap'), myOptions);
    // Plot the people as markers
    $.each(people, function() {
        var lat = this[0];
        var lon = this[1];
        var name = this[2];
        var username = this[3];
        var location_description = this[4];
        var photo = this[5];
        var iso_code = this[6];
        var point = new google.maps.LatLng(lat, lon);
        bounds.extend(point);

        var marker = new google.maps.Marker({
            map: gmap,
            position: point,
        });

        var infoWindow = new google.maps.InfoWindow({
            content: makeWindow(
                         name, username, location_description, photo, iso_code, 
                         lat, lon
                         )
        });

        // Hook up the marker click event
        google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(gmap, marker);
        });
    });


    gmap.fitBounds(bounds);

};
</script>
{% endblock %}

{% block header %}{% load thumbnail %}
        <h1>{{ tag }}</h1>
        <p class="meta">{% if country %}<a href="{% url 'country_detail' country.iso_code|lower %}" class="nobg"><img src="/static/img/flags/{{ country.iso_code|lower }}.gif" alt="{{ country }}" title="{{ country }}" class="flag"></a> {% endif %}{{ object_list|length }} Django {% ifequal object_list.count 1 %}Person{% else %}People{% endifequal %} mention this skill</p>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}
        <ul class="detailsList split">
            {% load person_list_items %}{% person_list_items object_list %}
        </ul>
{% endblock %}

