{% extends "maps.html" %}
{% load url from future %}
{% load thumbnail %}

{% block title %}{{ tag }} |{% endblock %}

{% block header %}
        <h1>{{ tag }}</h1>
        <p class="meta">{% if country %}<a href="{% url 'country_detail' country.iso_code|lower %}" class="nobg"><img src="{{ STATIC_URL }}djangopeople/img/flags/{{ country.iso_code|lower }}.gif" alt="{{ country }}" title="{{ country }}" class="flag"></a> {% endif %}{{ people_list.count }} Django {% ifequal people_list.count 1 %}Person{% else %}People{% endifequal %} mention this skill</p>
{% endblock %}

{% block map %}
    <div class="mapContainer major">
        <div id="gmap">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}
        <ul class="detailsList split">
            {% load person_list_items %}{% person_list_items people_list %}
        </ul>
{% endblock %}

