{% extends "base.html" %}
{% load url from future %}

{% block title %}Upload a profile photo |{% endblock %}

{% block nav_li_class_account %} class="current"{% endblock %}

{% block js %}
{% endblock %}

{% block header%}
<h2>Add a profile photo</h2>
{% endblock %}

{% block content %}

    <form enctype="multipart/form-data" method="post" action="{% url 'upload_profile_photo' user.username %}">

      {% include 'includes/form.html' %}

    <p class="help">Photos will be resized and cropped to a 83x83 square; for the best results, make sure you are uploading a square image.</p> 
    <div class="buttonContainer"><input type="submit" value="Upload"></div>
    </form>
{% endblock %}
