{% extends "base.html" %}
{% load staticfiles gravatar %}

{% block maps_api %}
<link rel="stylesheet" href="{% static "djangopeople/leaflet/leaflet.css" %}" />
<link rel="stylesheet" href="{% static "djangopeople/leaflet.markercluster/markercluster.css" %}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static "djangopeople/leaflet/leaflet.ie.css" %}" />
<![endif]-->

{% if debug %}
	<script src="{% static "djangopeople/leaflet/leaflet-src.js" %}"></script>
	<script src="{% static "djangopeople/leaflet.markercluster/markercluster.js" %}"></script>
	{% else %}
	<script src="{% static "djangopeople/leaflet/leaflet.js" %}"></script>
{% endif %}
<script type="text/javascript" src="{% static "djangopeople/js/maps.js" %}"></script>
{% endblock maps_api %}

{% block js %}

{% block map_options %}
<script type="text/javascript">
	var MAP_OPTIONS = {
		zoom: 5,
		maxZoom: 12,
		scrollWheelZoom: false,
	}
</script>
{% endblock map_options %}

{% block map_extra_options %}
{% endblock map_extra_options %}

{% block map_init %}
<script type="text/javascript">
window.onload = function() {
	var MAP = new L.Map('map', MAP_OPTIONS);
	var geolayer = new L.TileLayer.ClusteredGeoJSONTile('http://{s}.tile2.opencyclemap.org/transport/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Imagery © <a href="http://www.thunderforest.com/">Thunderforest</a>',
	    maxZoom: 18,
	    dataUrl: '{{ TILESTACHE_DOMAIN }}/people/{z}/{x}/{y}.json',
	});
	geolayer.initClusterMarker(MAP);
	geolayer.addTo(MAP);
	{% block post_map_init %}
	{% endblock post_map_init %}
};
</script>
{% endblock map_init %}


{% endblock js %}
